@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

.avatar-small {
	height: 40px;
	padding: 0px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}